.customers-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
 /* Light background for the entire section */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px; /* Center the container and limit its width */
}

.customers-header {
    font-size: 2.5rem;
    color: #4F9788;
    margin-bottom: 20px;
}

.customers-description {
    font-size: 1.2rem;
    color: #34495e;
    margin-bottom: 20px;
}

.customers-subheader {
    font-size: 1.5rem;
    color: #4F9788;
    margin-bottom: 30px;
    margin-top: 50px;
}

.customers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; /* White background for the grid */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.customer-card {
    background-color: #ecf0f1;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 200px; /* Ensure all cards have the same width */
    height: 250px; /* Ensure all cards have the same height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-card:hover {
    transform: scale(1.05);
}

.customer-icon {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.customer-card p {
    font-size: 1rem;
    color: #2c3e50;
    font-weight: bold;
    margin-top: 10px;
}
  /* .customers-logos {
    margin-top: 50px;
    text-align: center;
    max-width: 1200px;
} 

.logos-image {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.logos-image:hover {
    opacity: 1; 
}  */